{% extends "chpa_data/analysis.html" %}

{% block display %}

{#用户体验的细节问题，我们希望查询出数后有个loading界面，#}
{#这在数据量大时很有用。可以使用Semantic UI的Dimmer（遮罩）组件    #}
<!-- 数据处理时的loading遮罩 -->
{#<div class="ui active dimmer" id="dimmer">#}
{#    <div class="ui text" style="color: #FFFFFF">请使用左侧筛选框选择分析维度和定义市场</div>#}
{#</div>#}

<!-- 创建2个Semantic UI tab，根据鼠标点击切换，以保证页面干净清爽 -->
<div class="ui pointing secondary menu">
    <a class="item active" data-tab="total"><i class="circle icon"></i>总体表现</a>
    <a class="item" data-tab="competition"><i class="trophy icon"></i>竞争现状</a>
    <!-- 静态图表，添加一个展示气泡图的tab，重点是留一个空的<img>标签 -->
    <a class="item" data-tab="bubble_performance"><i class="braille icon"></i>规模 vs. 增长</a>
    <!-- 导出按钮 -->
    <a class="item" data-tab="export"><i class="download icon"></i>导出数据</a>
</div>

<div class="ui tab segment active" data-tab="total">
    <h3 class="ui header">
        <div class="content">
            定义市场当前表现
            <div class="sub header">KPIs</div>
        </div>
    </h3>
    <div class="ui divider"></div>

{#     前端交互图表,首先创建布局片段包含一个id为bar_total_trend的空白DOM#}
    <div class="ui container">
        <div id="bar_total_trend" style="width:1000px; height:600px;"></div>
    </div>

    <!-- Semantic UI的statistic类能呈现“醒目大数字”的效果 -->
    <div class="ui small three statistics">
        <div class="statistic">
            <div class="value" id="value_size">
                {{ market_size }}
            </div>
            <div class="label" id="label_size_unit">
                滚动年金额
            </div>
        </div>
        <div class="statistic" id="div_gr">
            <div class="value" id="value_gr">
                {{ market_gr }}
            </div>
            <div class="label">
                同比增长
            </div>
        </div>
        <div class="statistic" id="div_cagr">
            <div class="value" id="value_cagr">
                {{ market_cagr }}
            </div>
            <div class="label">
                4年CAGR
            </div>
        </div>
    </div>
</div>
<div class="ui tab segment" data-tab="competition">
    <h3 class="ui header">
        <div class="content">
            最新横断面KPI一览
            <div class="sub header">数据表格</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui top attached button" tabindex="0"
         onclick="selectElementContents( document.getElementById('ptable') );"
         data-content="复制成功" data-position="bottom center">
        <i class="copy icon"></i>
        复制到剪贴板
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui container" id='result_table' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
        <!-- Django渲染html代码时需要加入|safe，保证html不会被自动转义 -->
        {{ ptable|safe }}
    </div>
</div>

<!-- 静态图表 -->
<div class="ui tab segment" data-tab="bubble_performance">
    <h3 class="ui header">
        <div class="content">
            规模 versus 增长
            <div class="sub header">带线性拟合的气泡图</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <!-- style="width: 100%"，没有这句图片将展示原始尺寸 -->
        <img id="bubble_performance" style="width: 100%" alt="" />
    </div>
</div>

<!-- 导出数据按钮 -->
<div class="ui tab segment" data-tab="export">
    <div class="ui buttons">
        <input class="ui blue button" type='button' id='export_pivot' value="导出整理后时间序列数据"/>
    </div>
    <div class="ui buttons">
        <input class="ui blue button" type='button' id='export_raw' value="导出原始数据"/>
    </div>
</div>

<!-- 下方js为保证Semantic UI tab类工作 -->
<script>
    $('.pointing.secondary.menu .item').tab();
</script>

<script>
    // 复制有node结构的文本区域
    function selectElementContents(el) {
        var body = document.body, range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
        }
        document.execCommand("Copy");
    }
</script>

<script>
    // 按钮点击后有弹出文本，显示data-content内容“复制成功”
    $('.ui.top.attached.button')
        .popup({
            on: 'click'
        })
    ;
</script>

<script>
    $("#export_pivot").click(function(){
        var form_data = getForm();

        var downloadUrl = '{% url 'chpa:export' 'pivoted' %}'+ '?' + $.param(form_data, true);
        window.location.href = downloadUrl;
    });

    $("#export_raw").click(function(){
        var form_data = getForm();

        var downloadUrl = '{% url 'chpa:export' 'raw' %}'+ '?' + $.param(form_data, true);
        window.location.href = downloadUrl;
    })
</script>
{% endblock %}